<div class="flex justify-center w-full mt-10">
    <div class="relative w-[40rem]">
      <form [formGroup]="formGrup">
        <label for="Search" class="sr-only"> Buscar.. </label>
      
        <input
          type="text"
          id="Search"
          placeholder="Buscar..."
          formControlName="nombre"
          class="w-full rounded-md border-gray-300 border-2 focus:border-blue-500m pl-5 py-2.5 pe-10 shadow-sm sm:text-sm"
        />
      
        <span class="absolute inset-y-0 end-0 grid w-10 place-content-center">
          <button (click)="getBuscador()" type="button" class="text-gray-600 hover:text-gray-700 hover:bg-gray-200 focus:outline-none focus:ring focus:border-blue-300">
            <span class="sr-only ">Search</span>
      
            <svg
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke-width="1.5"
              stroke="currentColor"
              class="h-4 w-4"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M21 21l-5.197-5.197m0 0A7.5 7.5 0 105.196 5.196a7.5 7.5 0 0010.607 10.607z"
              />
            </svg>
          </button>
        </span>
      </form>
    </div>
      
    @if (showModal) {
      <div class="fixed inset-0 z-50 flex items-center justify-center bg-black bg-opacity-50 modal-content">
        <div class="flex flex-wrap justify-center">
          @for (usuario of buscador(); track usuario.id) {
            <div class="flex justify-center items-center m-4">
              <app-modal [dataContacto]="usuario"></app-modal>
              <button type="button" (click)="closeModal()" class="absolute top-0 right-0 m-2 text-gray-600 hover:text-gray-900 focus:outline-none">
                <svg class="w-6 h-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12"></path>
                </svg>
              </button>
            </div>
          }
        </div>
      </div>
    }
    
    
</div>
