@if (contactos()) {
  <app-header></app-header>
  <section  class="text-gray-600 body-font">
  
    <div class="container px-5 py-24 mx-auto">
      
      <div  class="flex flex-wrap -m-4">
        
        @for (contacto of contactos(); track $index) {
        <div  class="p-4 md:w-1/3">
          <div class="h-full border-2 border-gray-200 rounded-lg overflow-hidden shadow-lg">
            <div class="p-6">
              <h1 class="text-xl font-medium text-gray-900 mb-3">{{contacto.nombre}}</h1>
              <p class="text-base leading-relaxed mb-3">{{contacto.numero}}</p>
              <p class="text-base leading-relaxed mb-3">{{contacto.correoElectronico}}</p>
            </div>
          </div>
        </div>
        }
        
      </div>
    </div>
  </section>
  <app-footer/>
  
}
