
<div class="w-[20rem]">
  <div class="bg-white p-8 rounded-lg shadow-md w-full max-w-lg relative">
    <div class="mb-4">
      <h1 class="block text-sm font-medium text-gray-700">
        {{ dataContacto().nombre }}
      </h1>
    </div>

    <div class="mb-4">
      <p class="block text-sm font-medium text-gray-700">
        {{ dataContacto().numero }}
      </p>
    </div>

    <div class="mb-4">
      <p class="block text-sm font-medium text-gray-700">
        {{ dataContacto().correoElectronico }}
      </p>
    </div>
  </div>
</div>
